
<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Results</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">

  


</head>

<body>
  <div class="centerBox">

  <% if (matchingPlans.length > 0) { %>
    <h1>Plans in <%= zipCode %></h1>
    <ul>
      <% matchingPlans.forEach((plan) => { %>
        <div class="planList">
          <li>
            <a href="/displayPlan/<%= plan.Code %>"><%= plan.Title %></a>
          </li>
        </div>
      <% }); %>
    </ul>
  <% } else { %>
    <%- notFoundContent %>
  <% } %>

  </div>
</body>

</html>  -->




<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Results</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <link rel="icon" href="https://memberportal.net/wp-content/uploads/2019/01/favicon.png" type="image/png"/>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-2CX24TDFV4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2CX24TDFV4');
</script>
</head>

<body>
  <div class="centerBox">
    <img
        class="logo"
        src="https://memberportal.net/wp-content/uploads/2018/12/mp-header.png"
        alt="MTM, Inc."
      />
      <p></p>


  <% if (matchingPlans.length > 0) { %>
    <h1>Plans in <%= zipCode %></h1>
    <ul>
      <% matchingPlans.forEach((plan) => { %>
        <div class="planList">
          <li>
            <% if (plan.Url) { %>
              <!-- If Url is present, redirect to the specified URL -->
              <a href="<%= plan.Url %>" target="_blank"><%= plan.Title %></a>
            <% } else { %>
              <!-- If Url is not present, display plan info -->
              <a href="/displayPlan/<%= plan.Code %>"><%= plan.Title %></a>
            <% } %>
          </li>
        </div>
      <% }); %>
    </ul>
  <% } else { %>
    <%- notFoundContent %>
  <% } %>
  <br>

  <a href="https://mtm.mtmlink.net/" target="blank"
  ><img
    width="339"
    src="https://memberportal.net/wp-content/uploads/2022/11/mtm-link-intro-banner-animated-mp-1.gif"
    alt="Book Your Next Ride Online!"
/></a>
<br>
<h5>Download the MTM Link member app today!</h5>

<a
  href="https://apps.apple.com/us/app/mtm-link-member/id1534737345"
  target="blank"
  ><img
    src="https://memberportal.net/wp-content/uploads/2021/04/apple-app-store.png"
    width="150"
    height="46"
    alt="Available on the Apple app store"
    style="padding-top: 5px"
/></a>

<a
  href="https://play.google.com/store/apps/details?id=net.mtmlink.member&amp;hl=en_US&amp;gl=US"
  target="blank"
  ><img
    src="https://memberportal.net/wp-content/uploads/2021/04/google-play-store.png"
    width="150"
    height="46"
    alt="Get it on Google Play"
    style="padding-top: 5px"
/></a>

  </div>
</body>

</html>
